.updateform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.updateform input{
    height: 50px;
    width: 450px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
}
.updateform .submit:hover{
    background-color: black;
    color: white;
}